// .form {}

// .form__content {}

.form__input {
  display: block;
  background-color: $black-800;
  border:  1px solid lighten($black-800, 7);
  padding: 12px 18px;
  min-width: 280px;
  color: $white;
  font-size: 15px;
  transition: border 0.3s;
  margin-bottom: 10px;

  &:focus {
    border: 1px solid lighten($black-800, 20);
  }
}

textarea.form__input {
  min-height: 100px;
  resize: none;
}
