<div class="content">

  <aside class="content__aside aside">
    <!-- Decor start -->
    <div class="aside__decor"></div>
    <!-- Decor end -->
    <!-- Social start -->
    <ul class="aside__list">
      <li class="aside__item">
        <a class="aside__link" href="#" target="_blank">
          <svg class='aside__icon' aria-label="social instagramm">
            <use xlink:href='./img/sprite.svg#inst'></use>
          </svg>
        </a>
      </li>
      <li class="aside__item">
        <a class="aside__link" href="#" target="_blank">
          <svg class='aside__icon' aria-label="social vk">
            <use xlink:href='./img/sprite.svg#vk'></use>
          </svg>
        </a>
      </li>
      <li class="aside__item">
        <a class="aside__link" href="#" target="_blank">
          <svg class='aside__icon' aria-label="social facebook">
            <use xlink:href='./img/sprite.svg#fb2'></use>
          </svg>
        </a>
      </li>
      <li class="aside__item">
        <a class="aside__link" href="#" target="_blank">
          <svg class='aside__icon' aria-label="social twitter">
            <use xlink:href='./img/sprite.svg#twitt'></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- Social end -->
    <!-- Share button start -->
    <button class="aside__btn" type="button">
      <svg class='aside__btn-icon'>
        <use xlink:href='./img/sprite.svg#share'></use>
      </svg>
    </button>
    <!-- Share button end -->
  </aside>

</div>
