<header class="header">
  <!-- Logotype site START -->
  <a class="header__logo" href="#">
    <span class="header__logo-wrapper">
      <img class="header__logo-img" src='./img/logo.svg' alt='Site logo' width='34' height='34' aria-hidden="true">
    </span>
    <span class="header__logo-text">Вездеход</span>
  </a>
  <!-- Logotype site END -->
  <!-- Decor START -->
  <span class="header__decor"></span>
  <!-- Decor END -->
  <div class="header__contacts">
    <!-- Phone START -->
    <a class="header__phone" href="tel:5556534">
      Телефон: <span>555-65-34</span>
    </a>
    <!-- Phone END -->
    <div class="header__separator"></div>
    <!-- Address START -->
    <address class="header__address">
      Адрес: <span>ул. Московская, 35</span>
    </address>
    <!-- Address END -->
  </div>
  <!-- Decor START -->
  <span class="header__decor"></span>
  <!-- Decor END -->
  <!-- Burger START -->
  <button class="header__burger" type="button" aria-label="Мобильное меню">
    <span></span>
  </button>
  <!-- Burger END -->
</header>
