<section class="slider">

  <!-- Slider bottom start -->
  <div class="slider__bottom">
    <!-- Social start -->
    <ul class="slider__share social social--bottom">
      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <svg class='social__icon' aria-label="social instagramm">
            <use xlink:href='./img/sprite.svg#inst'></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <svg class='social__icon' aria-label="social vk">
            <use xlink:href='./img/sprite.svg#vk'></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#" target="_blank">
          <svg class='social__icon' aria-label="social facebook">
            <use xlink:href='./img/sprite.svg#fb2'></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- Social end -->
    <div class="slider__pagination">222</div>
    <div class="slider__scrollbar">333</div>
    <div class="slider__navigation">444</div>
  </div>
  <!-- Slider bottom end -->
</section>
