// Colors
$white: #fff;
$black: #000;
$black-800: #252525;
$black-700: #303030;
$orange: #F57500;

$size70: 70px;

// Fonts
$oswald: 'Oswald', Arial, sans-serif;
$raleway: 'Raleway', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;

// Container page
// $container: 860px;

